Repository mishaled/postponed: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "*.{js,ts,json,md,yml,yaml}": [
        "prettier --write"
    ],
    "*.{js,ts}": [
        "eslint --fix"
    ]
}

- rename readme
  README.md
Due: prettier --write

Add license
  License
  package.json
Due: prettier --write

Prettify license
  License
Due: none

Modify env management
  blackbox/docker-compose.yml
  blackbox/environment/scheduler.env
  blackbox/environment/test-secrets.env
  blackbox/environment/test-secrets.json
  src/framework/environment.ts
Due: prettier --write, eslint --fix

- remove secrets file
  blackbox/docker-compose.yml
  blackbox/environment/test-secrets.env
Due: prettier --write

- restore env
  blackbox/environment/scheduler.env
Due: none

Modify env management (#1)
  blackbox/docker-compose.yml
  blackbox/environment/test-secrets.json
  src/framework/environment.ts
Due: prettier --write, eslint --fix

Add dockerhub publish action
  .github/workflows/publish.yml
Due: prettier --write

Update license
  License
  package.json
Due: prettier --write

Better env vars management
  blackbox/docker-compose.yml
  blackbox/environment/test-secrets.json
  src/framework/environment.ts
Due: prettier --write, eslint --fix

Add dockerhub publish GH action
  .github/workflows/publish.yml
  README.md
  package.json
Due: prettier --write

readme- explain about IS_REDIS_TLS and REDIS_URL
  README.md
Due: prettier --write
